.ExerciseNew_Form_Center{
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.ExerciseNew_Lateral_Spaces{
    margin-right: 100px;
    margin-left: 100px;
}
.ExerciseNew_Card_Space{
    margin-top: 180px;
}
.ExerciseNew_Form_Space{
    margin-top: 140px;
}
